.main {
  margin-top: 67px;
}

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(108, 99, 255, 0.3);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

#h3formainpage {
  margin-top: 10px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.launch-panel a {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.purple-link {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.purple-link:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.white-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.white-link:hover {
  background-color: var(--primary-color);
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 25.5px;
  text-decoration: none;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .col-md-6 img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 87px;
  }

  h2 {
    font-size: 37px;
  }

  .email-link {
    font-size: 19.5px;
  }

  .about-paragraphs {
    margin-bottom: 0;
  }

  .about-paragraphs p {
    font-size: 16px;
    padding-bottom: 0;
  }

  .col-sm-6 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 51px;
  }

  .navigation-links {
    font-size: 13px;
  }
}
